<footer>
    <div class="container">
        <div class="pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="info">
                            <h4>Dove siamo</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div>
                        <i class="fas fa-phone"></i>
                        <div class="info">
                            <h4>Chiamaci</h4>
                            <span>9876543210 0</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div>
                        <i class="far fa-envelope-open"></i>
                        <div class="info">
                            <h4>Inviaci una e-mail</h4>
                            <span>mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <p class="footer-copyright">Copyright &copy; 2020, All Right Reserved <a>Omnia Studios</a>
                </p>
                <!-- <div class="col-xl-5 col-lg-5">
                    <div class="copyright-text"> 
                        <p>Copyright &copy; 2020, All Right Reserved <a>Omnia Studios</a>
                        </p>
                    </div>
                </div>  -->
            </div>
        </div>
    </div>
</footer>
</body>

</html>