<%- include('./partials/header') %>
    <section class="presentation">
        <div class="d-flex align-items-center justify-content-center min-vh-100">
            <div class="row">
                <div class="white-text container-menu tablet-fix computer-fix">
                    <h2><i class="fas fa-book-open text-danger i-font-medium"></i><span class="text-secondary"></span>&nbsp;| Storia</h2>
                    <hr>
                    <p>Bacon ipsum dolor amet meatloaf doner chicken, tail venison salami pork. Ham hock shank prosciutto chuck shankle. Bresaola porchetta t-bone frankfurter boudin tri-tip pancetta ham ribeye meatloaf short loin pastrami turducken meatball.
                        Bresaola venison pig ham ball tip bacon ham hock shank porchetta buffalo alcatra brisket meatball. Pork chuck swine beef ribs chislic chicken ground round pork chop.</p>
                </div>
                <div class="white-text container-menu tablet-fix computer-fix">
                    <h2><i class="fas fa-map-marker-alt text-danger i-font-medium"></i><span class="text-secondary">&nbsp;|</span> Dove siamo</h2>
                    <hr>
                    <p>Saluzzo (CN) <br> Corso Piemonte 11</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2838.5875673868272!2d7.486416315763935!3d44.64634579566002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cd490396c826fb%3A0x8cb56f9ad94de5e4!2s%22Il%20Picciotto%22%20Di%20Rera%20Davide%20Rosticceria%20Siciliana%20E%20Pizza%20Al%20Taglio!5e0!3m2!1sit!2sit!4v1625692065104!5m2!1sit!2sit"
                        width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <hr>
                    <a href="https://g.page/ilpicciottorosticceria?share" class="text-primary">Imposta meta</a>
                </div>
            </div>
        </div>
        <div class="arrow-container">
            <a href="#social"><i class="fas fa-arrow-down bounce arrow-style"></i></a>
        </div>
    </section>
    <section id="social" class="presentation-menu">
        <div class="d-flex align-items-center justify-content-center min-vh-100">
            <div class="white-text container-menu tablet-fix computer-fix">
                <i class="fas fa-share-alt-square text-danger i-font-medium"></i>
                <hr>
                <h4>Seguici sui social</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        <a href="https://www.facebook.com/Il-Picciotto-Rosticceria-Siciliana-262939167571410/" target="_blank" class="facebook py-3">
                            <i class="fab fa-facebook i-font-small"></i>
                            <h5 class="facebook">Facebook</h5>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.instagram.com/ilpicciottorosticceria/" target="_blank" class="insta py-3">
                            <i class="fab fa-instagram i-font-small"></i>
                            <h5 class="insta">Instagram</h5>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.tripadvisor.it/Restaurant_Review-g194893-d13481679-Reviews-Il_Picciotto_Rosticceria_Siciliana_Pizza_al_taglio-Saluzzo_Province_of_Cuneo_Pie.html" target="_blank" class="tripadvisor">
                            <img src="images/tripadvisor.png" class="tripadvisor" style="width: 22px; color: black;">
                            <h5 class="tripadvisor mt-1">TripAdvisor</h5>
                        </a>
                    </div>
                </div>
                <hr>
                <a href="tel:3469671578" class="text-primary ">Chiamaci</a>
            </div>
        </div>
    </section>



    <!-- <div class="col">
                    <div class="white-text container-menu tablet-fix computer-fix">
                        <i class="fas fa-share-alt-square text-danger i-font-medium"></i>
                        <hr>
                        <h4>Seguici sui social</h4>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <i class="fab fa-facebook i-font-small"></i>
                                <h5>Facebook</h5>
                            </div>
                            <div class="col">
                                <i class="fab fa-instagram i-font-small"></i>
                                <h5>Instgram</h5>
                            </div>
                            <div class="col">
                                <i class="fab fa-tripadvisor i-font-small"></i>
                                <h5>TripAdvisor</h5>
                            </div>
                        </div>
                        <hr>
                        <a href="tel:3486460504" class="text-primary">Chiamaci</a>
                    </div>
                </div>
            </div> -->
    </div>



    <%- include('./partials/footer') %>