<%- include('./partials/header') %>
    <section class="presentation">
        <div class="d-flex align-items-center justify-content-center min-vh-100">
            <div class="white-text container-menu tablet-fix computer-fix">
                <i class="fas fa-map-marker-alt text-danger i-font-medium"></i>
                <hr>
                <h2>Dove siamo</h2>
                <hr>
                <p>Saluzzo(CN) <br> Corso Piemonte 11</p>
                <hr>
                <a href="https://g.page/ilpicciottorosticceria?share" class="text-primary">Imposta meta</a>
            </div>
        </div>
        <div class="arrow-container">
            <a href="#social"><i class="fas fa-arrow-down bounce arrow-style"></i></a>
        </div>
    </section>
    <section id="social" class="presentation-menu">
        <div class="d-flex align-items-center justify-content-center min-vh-100">
            <div class="white-text container-menu tablet-fix computer-fix">
                <i class="fas fa-share-alt-square text-danger i-font-medium"></i>
                <hr>
                <h4>Seguici sui social</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        <i class="fab fa-facebook i-font-small"></i>
                        <h5>Facebook</h5>
                    </div>
                    <div class="col">
                        <i class="fab fa-instagram i-font-small"></i>
                        <h5>Instgram</h5>
                    </div>
                    <div class="col">
                        <i class="fab fa-tripadvisor i-font-small"></i>
                        <h5>TripAdvisor</h5>
                    </div>
                </div>
                <hr>
                <a href="tel:3469671578" class="text-primary">Chiamaci</a>
            </div>
        </div>
    </section>



    <!-- <div class="col">
                    <div class="white-text container-menu tablet-fix computer-fix">
                        <i class="fas fa-share-alt-square text-danger i-font-medium"></i>
                        <hr>
                        <h4>Seguici sui social</h4>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <i class="fab fa-facebook i-font-small"></i>
                                <h5>Facebook</h5>
                            </div>
                            <div class="col">
                                <i class="fab fa-instagram i-font-small"></i>
                                <h5>Instgram</h5>
                            </div>
                            <div class="col">
                                <i class="fab fa-tripadvisor i-font-small"></i>
                                <h5>TripAdvisor</h5>
                            </div>
                        </div>
                        <hr>
                        <a href="tel:3486460504" class="text-primary">Chiamaci</a>
                    </div>
                </div>
            </div> -->
    </div>



    <%- include('./partials/footer') %>