<%- include('./partials/header') %>

<body>
	<section class="presentation">
		<div class="logo-container">
			<img class="medium" src="images/logo.png" alt="">
		</div>
	</section>


</body>

<%- include('./partials/footer') %>