<%- include('./partials/header') %>

    <section class="presentation-menu">
        <div id="menu" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#menu" data-slide-to="0" class="active"></li>
                <li data-target="#menu" data-slide-to="1"></li>
                <li data-target="#menu" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="d-flex align-items-center justify-content-center min-vh-100 min-vw-100">
                        <div class="container-menu white-text">
                            <i class="fas fa-utensils menu-small"></i>
                            <hr>
                            <h3><b>MENU "DOUBLE"</b></h3>
                            <hr>
                            <h5 class="c">2 PEZZI A SCELTA + BIRRA DA 0,33cl</h5>
                            <h5 class="c">3€</h5>
                            <hr>
                            <p class="c">Sostituisci un pezzo del tuo menù con un cannolo tradizionale aggiungendo soli
                                0,50 € .</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center justify-content-center min-vh-100 min-vw-100">
                        <div class="container-menu white-text">
                            <i class="fas fa-utensils menu-small"></i>
                            <hr>
                            <h3><b>MENU "TRIO"</b></h3>
                            <hr>
                            <h5 class="c">2 PEZZI A SCELTA + BIRRA DA 0,33cl</h5>
                            <h5 class="c">3€</h5>
                            <hr>
                            <p class="c">Sostituisci un pezzo del tuo menù con un cannolo tradizionale aggiungendo soli
                                0,50
                                € .</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex align-items-center justify-content-center min-vh-100 min-vw-100">
                        <div class="container-menu white-text">
                            <i class="fas fa-utensils menu-small"></i>
                            <hr>
                            <h3><b>MENU "LARGE"</b></h3>
                            <hr>
                            <h5 class="c">2 PEZZI A SCELTA + BIRRA DA 0,33cl</h5>
                            <h5 class="c">3€</h5>
                            <hr>
                            <p class="c">Sostituisci un pezzo del tuo menù con un cannolo tradizionale aggiungendo soli
                                0,50
                                € .</p>
                        </div>
                    </div>
                </div>
            </div>
        <a class="carousel-control-prev" href="#menu" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#menu" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </section>

    <%- include('./partials/footer') %>