<%- include('./partials/header') %>

<section class="presentation">
    <div class="logo-container">
        <img class="medium" src="images/logo.png" alt="">
    </div>
    <div class="arrow-container">
        <a href="#timetables"><i class="fas fa-arrow-down bounce arrow-style"></i></a>
    </div>
</section>

<%- include('./partials/footer') %>
</body>