/* Smarthphone */
@media only screen 
and (max-width : 768px) {
    .brand-logo{
        width: 60px;
    }

    .title{
        margin-left: 50px;
        line-height: 1.5;
    }
    
    nav div ul {
        position: relative;
        margin: 0 auto;
        text-align: right;
    }

    .navbar-nav .nav-link {
       padding-right: 20px;
    }
    
    .navbar-collapse {
        background-color: rgb(245, 245, 245);
        border: 1px solid white;
        border-radius: 6px;
    }
}

/* Tablet */
@media only screen 
and (max-width : 989px) {
    .brand-logo{
        width: 55px;
        border:none !important;
    }

    .title{
        margin-left: 50px;
        line-height: 1.5;
    }

    
    .navbar-collapse{
        background-color: rgb(245, 245, 245);
    }

    
    nav div ul {
        position: relative;
        margin: 0 auto;
        text-align: right;
        right: 10px;
    }

    .navbar-collapse {
        background-color: rgb(245, 245, 245);
        border: 1px solid white;
        border-radius: 6px;
    }

    .navbar-nav .nav-link {
        padding-right: 20px;
     }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 990px) {
    .brand-logo{
        width: 110px;
        padding-right: 50px;
        border-right:3px solid rgb(0, 0, 0);
    }

    .title{
        position:relative;
        left: 50px;
        line-height: 1.5;
    }

    
    nav div{
        position: absolute;
        width: 99%;
    }

    
    nav a::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
        width: 0%;
        height: 2px;
        background-color: #15151e;
        transition: 0.5s;
    }

    nav a:hover::before {
        width: 100%;
    }

}