@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

nav div ul{
    position: static;
    margin: 0 auto;
    text-align: center;
    left: 0;
}

#navcontainer{
    background-color: rgb(245, 245, 245);
}

nav{
    color: black;
    height: 8vh;
    font-size: large;
    font-weight: bold;
    background-color: rgb(245, 245, 245)
}


nav div li{
    color:#3b3b3b;
    margin-left:2vw;
}

nav div li a{
    color: black !important;
    font-size: 20px;
}

nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
}

nav div li a:hover{
    color: rgb(24, 24, 24) !important;
    transition: 0.5s;
    transform: scale(1.03);
    color: #15151e !important;
} 

.brand-logo{
    margin-left: 2vw;
}

