@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

/* Header */

nav div ul{
    position: static;
    margin: 0 auto;
    text-align: center;
    left: 0;
}

#navcontainer{
    background-color: rgb(245, 245, 245);
}

nav{
    color: black;
    font-size: large;
    font-weight: 500;
    background-color: rgb(251, 252, 252)
}

.title{
    font-weight: 900;
}


nav div li{
    color:#3b3b3b;
    margin-left:2vw;
}

nav div li a{
    color: #15151e !important;
    font-size: 20px;
}

nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
}

nav div li a:hover{
    color: rgb(24, 24, 24) !important;
    color: #15151e !important;
} 

.brand-logo{
    margin-left: 2vw;
}


/* Body */

body {
    /* overflow: hidden;  */
    overflow-x: hidden;
}

.presentation{
    height: 100vh;
    width: 100vw;
    background-image: url('https://cdni.rbth.com/rbthmedia/images/2019.07/original/5d19f14d15e9f96caa508257.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.presentation::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
}

.logo-container{
    position: absolute;
}

.medium{
    width: 400px;
}

a{
    color: black;
}


.timetables{
    /*background-color: rgb(251, 252, 252);*/
    height: 100vh;
    width: 100vw;
    background-color: rgb(251, 252, 252);
    font-size: large;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.timetables>h1{
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 3.8em;
}

/* .timetables div:first-child{
    width: 100vw;
} */

.timetables-container{
    width: 60vw;
    border: 3px solid black;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
    border-radius: 10px;
}

.timetables-container>div{
    padding: 1em;
    text-align:center;
    font-size: x-large;
    font-size: 1.5em
    /* border-bottom: 1px solid black; */
    
}

/* .timetables-container div:first-child{
    text-align:center;
    border-bottom: 1px solid black;
} */

.timetables-container div:nth-child(2n){
    padding: 0em;
    border: 1px solid black;
    height: 0px;
    width: 80%;
}

.button{
    margin: 3em;
    padding: 15px;
    border: 3px solid black;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    display: inline-block;
    outline:none;
    
}

.button:hover{
    border-radius: 50px;
    border-color:  black;
    transition: all 0.3s ease 0s;
    outline:none;
}

/* Arrow */

.arrow-container{
    position: absolute;
    bottom: 10px;
}

.arrow-style{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: xx-large;
}

.bounce {
	-webkit-animation: bounce 1.5s;
	        animation: bounce 1.5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}